info.g-friedrich.com {

  handle_path /apps* {
    basic_auth {
      deploy $2a$14$yryvoc5rRbojpIdfHAuST.Ga3C9Rkjww.ffPnukIaDs55i7bJktP.
    }
    reverse_proxy apps:3000
  }

  handle {
    root * /srv
    file_server
  }
}
