info.g-friedrich.com {

  handle_path /apps* {
    basic_auth {
      deploy $2a$14$Mg8q5teXIhbs9NRTuD6a1ukk8BJxtl6/dUZh72g8kpjI.HciBv5Ia
    }
    reverse_proxy apps:3000
  }

  handle {
    root * /srv
    file_server
  }
}
